env/
.env
files/
.cache/
.streamlit/
.DS_Store

.venv/
__pycache__/
*.pyc


# Large files
*.sqlite
*.db
recipes.csv

# Virtual environment
.venv/
env/

# Cache
.cache/
__pycache__/

# Jupyter
*.ipynb_checkpoints/

# OS
.DS_Store